---
layout: default

title: Acceuil

class: french
---

       <div class="row">
        <div class="large-12 columns">
            <h1>Bienvenue chez Charly !</h1>
            <hr>
            <h2>Images :</h2>
            <p>Cliquez pour agrandir !</p>
                   {% capture sentence %}Plus belles images de ma création :){% endcapture %}
                   {% include pictures.html %}
            <hr>
            <h2>Dernière vidéo :</h2>
            {% include lastvideo.html %}
        </div>
    </div>
