        <div class="row">
        {% if page.class == 'french' %}
        <div class="large-9 medium-8 columns">
            <h3>Suivez-moi :</h3>
            <p>
                <a href="//www.youtube.com/user/Charly25873" title="Youtube"  class="small radius button">Youtube</a>
                <a href="//www.facebook.com/tm.charly" title="Facebook"  class="small radius button">Facebook</a>
                <a href="//twitter.com/TMCharly" title="Twitter"  class="small radius button">Twitter</a>
                <a href="//plus.google.com/114383072832945463624/" title="Google +"  class="small radius button">Google +</a>
            </p>
        </div>
        <div class="large-3 medium-4 columns">
            <h3>Voir mes videos :</h3>
            <p>
                <a href="//www.youtube.com/watch?v=Ad_zEFQgDA0" title="Colors Can't Fly"  class="zoombox zgallery1 small radius button">Youtube</a>
                <a href="//www.youtube.com/watch?v=e_Ix2YFLOq4" title="Two cutted maps"  class="zoombox zgallery1"></a>
                <a href="//www.youtube.com/watch?v=sHeRLnqJHSQ" title="[TM] Colours test"  class="zoombox zgallery1"></a>
                <a href="//www.youtube.com/watch?v=DFmIKBJZAVA" title="Exile2 by ChadoX !"  class="zoombox zgallery1"></a>
            </p>
        </div>
        {% endif %}
        {% if page.class == 'english' %}
        <div class="large-9 medium-8 columns">
                <h3>Follow-me :</h3>
            <p>
                <a href="//www.youtube.com/user/Charly25873" title="Youtube"  class="small radius button">Youtube</a>
                <a href="//www.facebook.com/tm.charly" title="Facebook"  class="small radius button">Facebook</a>
                <a href="//twitter.com/TMCharly" title="Twitter"  class="small radius button">Twitter</a>
                <a href="//plus.google.com/114383072832945463624/" title="Google +"  class="small radius button">Google +</a>
            </p>

            </p>
        </div>
        <div class="large-3 medium-4 columns">
            <h3>See my videos :</h3>
            <p>
                <a href="//www.youtube.com/watch?v=Ad_zEFQgDA0" title="Colors Can't Fly"  class="zoombox zgallery1 small radius button">Youtube</a>
                <a href="//www.youtube.com/watch?v=e_Ix2YFLOq4" title="Two cutted maps"  class="zoombox zgallery1"></a>
                <a href="//www.youtube.com/watch?v=sHeRLnqJHSQ" title="[TM] Colours test"  class="zoombox zgallery1"></a>
                <a href="//www.youtube.com/watch?v=DFmIKBJZAVA" title="Exile2 by ChadoX !"  class="zoombox zgallery1"></a>
            </p>
        </div>
        {% endif %}
        </div>
        
