        {% if page.class != 'fourOhfour' %}
        <div class="row">
        <hr>
        {% if page.class == 'french' %}
        <div class="large-9 medium-8 columns">
            <h3>Suivez-moi :</h3>
            <p>
                <a href="//www.youtube.com/user/Charly25873" title="Youtube"  class="small radius button">Youtube</a>
                <a href="//www.facebook.com/tm.charly" title="Facebook"  class="small radius button">Facebook</a>
                <a href="//twitter.com/TMCharly" title="Twitter"  class="small radius button">Twitter</a>
                <a href="//plus.google.com/114383072832945463624/" title="Google +"  class="small radius button">Google +</a>
            </p>
        </div>
        <div class="large-3 medium-4 columns">
        {% if page.title != 'Acceuil' %}
            <h3>Dernière vidéo</h3>
            {% include lastvideo.html %}
        {% endif %}
        </div>
        {% endif %}
        {% if page.class == 'english' %}
        <div class="large-9 medium-8 columns">
                <h3>Follow-me :</h3>
            <p>
                <a href="//www.youtube.com/user/Charly25873" title="Youtube"  class="small radius button">Youtube</a>
                <a href="//www.facebook.com/tm.charly" title="Facebook"  class="small radius button">Facebook</a>
                <a href="//twitter.com/TMCharly" title="Twitter"  class="small radius button">Twitter</a>
                <a href="//plus.google.com/114383072832945463624/" title="Google +"  class="small radius button">Google +</a>
            </p>

            </p>
        </div>
        <div class="large-3 medium-4 columns">
        {% if page.title != 'Home' %}
            <h3>Last video</h3>
            {% include lastvideo.html %}
        {% endif %}
        </div>
        {% endif %}
        {% if page.class == 'post' %}
        <div class="large-9 medium-8 columns">
            <h3>Partager :</h3>
            <p>
                <a href="http://twitter.com/share?text=&ldquo;{{ page.title }}&rdquo; by @TMCharly :" title="Twitter"  class="small radius button">Twitter</a>
            </p>
        </div>
        <div class="large-3 medium-4 columns">
            <h3>Dernière vidéo</h3>
            {% include lastvideo.html %}
        </div>
        {% endif %}
        </div>
        {% endif %}
