      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ page.title }} | TMCharly</title>
      <style>{% include css/foundation.min.css %}</style>
      <script type="text/javascript">{% include js/vendor/modernizr.js %}</script>
      <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
      <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
      <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.css">
        <![endif]-->
      <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
      <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

      <meta name="twitter:cars" content="summary" />
      <meta name="twitter:title" content="Charly" />
      <meta name="twitter:image" content="http://tmcharly.github.io/img/favicon.jpg" />
      <meta name="twitter:site" content="@TMCharly" />
      <meta name="twitter:author" content="@TMCharly" />

      <link href="//plus.google.com/114383072832945463624" rel="publisher" />

      <meta property="og:type" content="website" />
      <meta property="og:title" content="Charly" />
      <meta property="og:image" content="http://tmcharly.github.io/img/favicon.jpg" />
      <meta property="og:language" content="fr_FR">
      <meta property="og:url" content="http://tmcharly.github.io" />

      <meta name="description" content="Venez ici pour voir nos créations TrackMania !" />

      <meta name="msvalidate.01" content="7AA9997055DFFA5FA75B150DB285F647" />
