      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ page.title }} | {{ site.title }}</title>
      <style>{% include styles/styles.css %}</style>
      <link href="//tmcharly.github.io/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

      <meta name="twitter:cars" content="summary" />
      <meta name="twitter:title" content="{{ page.title }}" />
      <meta name="twitter:image" content="//tmcharly.github.io/img/favicon.jpg" />
      <meta name="twitter:site" content="@{{ site.twitter }}" />
      <meta name="twitter:author" content="@{{ site.twitter }}" />

      <link href="//plus.google.com/{{ site.twitter }}" rel="publisher" />
      <meta name="msvalidate.01" content="7AA9997055DFFA5FA75B150DB285F647" />

      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ page.title }}" />
      <meta property="og:image" content="//tmcharly.github.io/img/favicon.jpg" />
      <meta property="og:language" content="fr_FR">
      <meta property="og:url" content="//tmcharly.github.io" />

      <meta name="description" content="{{ site.description }}" />
      <meta name="author" content="{{ site.author }}">
