<nav>
      <ul>
        {% if page.class == 'french' %}
        <li class="{% if page.title == 'Acceuil' %}active{% endif %} menu"><a href="/" class="menu">Acceuil</a></li>
        <li class="menu"><a href="/english/" class="menu">English</a></li>
        {% endif %}
        {% if page.class == 'english' %}
        <li class="{% if page.title == 'Home' %}active{% endif %} menu"><a href="/english/" class="menu">Home</a></li>
        <li class="menu"><a href="/" class="menu">Français</a></li>
        {% endif %}
        <li class="{% if page.title == 'Blog' %}active{% endif %} menu"><a href="/blog/" class="menu">Blog</a></li>
      </ul>
</nav>
