<nav>
      <ul>
        {% if page.class == 'frensh' %}<li class="{% if page.title == 'Acceuil' %}active{% endif %}"><a href="/" class="menu">Acceuil</a></li>{% endif %}
        {% if page.class == 'frensh' %}<li class="{% if page.title == 'Acceuil' %}active{% endif %}"><a href="/english/" class="menu">English</a></li>{% endif %}
        {% if page.class == 'english' %}<li class="{% if page.title == 'Home' %}active{% endif %}"><a href="/english/" class="menu">Home</a></li>{% endif %}
        {% if page.class == 'english' %}<li class="{% if page.title == 'Home' %}active{% endif %}"><a href="/" class="menu">Français</a></li>{% endif %}
      </ul>
</nav>
