<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
	{% include navbar.html %}

        {% if page.class == 'post' %}
      	{% if page.title != 'Blog' %}
                <main class="content-warp" role="main">
                {% if page.title != 'Blog' %}
      		<h1 class="h3">{{ page.title }}</h1>
      		<p class="post-time"><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
      		<br>
      	{% endif %}
        {% endif %}

        {{ content }}

        {% if page.class == 'post' %}
          {% if page.title != 'Blog' %}
        </main>
          {% endif %}
        {% endif %}


        {% if page.footer == true %}
        {% include footer.html %}
        {% endif %}

        {% if page.img == true %}
        {% include scripts.html %}
        {% endif %}
  </body>
</html>
