<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
	{% include navbar.html %}
	
	{% if page.class == 'post' %}
		{% if page.title != 'Blog' %}
		<h1 class="h3">{{ page.title }}</h1>
		<p class="post-time"><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
		<br>
		{% endif %}
	{% endif %}

	{{ content }}

	{% if page.footer == true %}
	<br>
	<hr>
        {% include footer.html %}
        {% endif %}
        
        {% include scripts.html %}
  </body>
</html>
