doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TMCharly
    link(href='/favicon.ico' rel='shortcut icon' type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='build/build.css')
    meta(name="author" content="TMCharly")
    meta(name="description" content="Come here to see our TM creations!")

  body

    article

      section
        h1 TMCharly
        img.main(src='//res.cloudinary.com/cedced19/image/upload/tm/main.png' width='35%')
        h4 Notice: Use the arrows to navigate

      section
        img(src='//res.cloudinary.com/cedced19/image/upload/tm/1.jpg' width='75%')

      section
        img(src='//res.cloudinary.com/cedced19/image/upload/tm/2.jpg' width='75%')

      section
        img(src='//res.cloudinary.com/cedced19/image/upload/tm/3.jpg' width='75%')

      section
        img(src='//res.cloudinary.com/cedced19/image/upload/tm/4.jpg' width='75%')
        
      section
        img(src='//res.cloudinary.com/cedced19/image/upload/tm/5.jpg' width='75%')
      
      section
        img(src='//res.cloudinary.com/cedced19/image/upload/tm/6.jpg' width='75%')

      section
        h2.bullet Just the beginning...
        br
        ul
          li Like: <a href="https://www.facebook.com/tm.charly">Facebook</a>
          li Video: <a href="https://www.youtube.com/user/Charly25873">Youtube</a>
          li Tweet: <a href="https://twitter.com/TMCharly">Twitter</a>
        br
        ul
          li
            strong Enjoy! :)

    script(src='build/build.js')